.search-results {
  text-align: center;
  width: 50%;
  height: 300px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  position: absolute;
  top: 80px;
  z-index: 3;
  /* transform: translateX(50%); */
  display: grid;
  grid-template-columns: auto auto auto;
  overflow-y: scroll;
}
.search-results::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.search-results::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

.search-results::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.search-results::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.search-results::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.search-results::-webkit-scrollbar-track:hover,
.search-results::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.search-item {
  width: 90%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border: solid 1px black;
  background-color: white;
}

.search-item:hover {
  filter: brightness(1.2);
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}

.result-img {
  width: 20px;
}

.search-no-results {
  text-align: center;
  padding-top: 15px;
  width: 20%;
  height: 50px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  position: absolute;
  top: 80px;
  z-index: 3;
}
